body {
    display: flex;
    flex-direction: column;
  }
  
  main {
    display: flex;
    flex-direction: row;
    flex: auto;
  }
  
  article {
    flex: 2;
    overflow-y: auto;
  }
  
  aside {
    flex: 1;
    overflow-y: auto;
  }
  
  .learners-table {
    margin: 20px;
  }
  
  table {
    width: 100%;
    border-collapse: collapse;
  }
  
  th, td {
    padding: 10px;
    border: 1px solid black;
  }
  
  thead {
    background-color: lightgray;
  }
  
  .logo {
    font-size: 32px;
  }
  